<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings jdbc:derby://localhost:1527/db--> 
        <property name="connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
        <property name="connection.url">jdbc:derby:mydiarydb;create=true;</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <!-- JDBC connection pool (we don't use the built-in but "c3p0 connection pool") -->
        <!-- <property name="connection.pool_size">1</property> -->
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">100</property>
        <property name="hibernate.c3p0.max_size">10</property>
        <property name="hibernate.c3p0.max_statements">10</property>
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.timeout">100</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.DerbyDialect</property>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- create ==> Drop and re-create the database schema on startup | update ==> doesn't create the schema but update only information -->
        <property name="hbm2ddl.auto">update</property>
        <!-- mapped tables -->
        <mapping class="com.matteoveroni.mydiary.article.model.hibernate.PersistentHibernateArticle"/>
        <mapping class="com.matteoveroni.mydiary.user.model.hibernate.PersistentHibernateUser"/>
    </session-factory>
</hibernate-configuration>
